@font-face {
 	font-family: "simplifica"; 
 	src: url('../fonts/simplifica.ttf') format('truetype'); 
 	font-weight: normal;
	}
.headers{
		font-family: "simplifica";
		text-align: center;
		color:blue;
	}
.pgrph {
	font-family: "Comic Sans MS", cursive, sans-serif;	
	text-align: justify-all;
	color: white;
}