@font-face {
	font-family: "simplifica"; 
	src: url('../fonts/simplifica.ttf') format('truetype'); 
	font-weight: normal;
}
.imgh{
	position: relative;
	align-content: flex-end;
}
.headers{
	font-family: "simplifica";
	text-align: center;
	color:blue;
	font-size: 40px;
}
.pgrph {
	font-family: "Comic Sans MS", cursive, sans-serif;	
	text-align: justify-all;
	color: black;
}