* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* width */
*::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
*::-webkit-scrollbar-thumb {
    background: #50fa7b; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #50fa7b; 
  }
body{
    background-color: #383a59;
    min-height: 140vh;
    overflow-x: hidden;
    display: block;
    position: relative;
}
h1{
    font-family: 'Bebas Neue', cursive;
    color: white;
    height: fit-content;
    letter-spacing: 4px;
    line-height: 35px;
}
p{
    font-family: 'Roboto', sans-serif;
}
a:link {
    color: inherit;
  }
a:visited {
    color: inherit;
}
.nav-a a:active {
    background-color: white;
    color: #282a36;
    font-size: 18px;
}
.top-header {
    font-family: 'VT323', monospace;
    font-size: 30px;
    color: rgb(235, 235, 235);
    text-transform: uppercase;
    letter-spacing: 4px;
}

.top-header a {
    text-decoration: none;
    transition: 0.5s;
}

.top-header a:hover {
    background-color: white;
    color: #282a36;
    font-size: 35px;
    border-radius: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    min-height: 10vh;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #282a36;
    position: fixed;
    z-index: 1;
    box-shadow: 1px 0.5px 1px 0.5px rgba(80,250,123);
}

.nav-a {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    text-decoration: none;
}

.nav-a li {
    list-style: none;
}

.nav-a a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-radius: 4px;
    transition: 0.5s;
}

.nav-a a:hover {
    background-color: white;
    color: #282a36;
    font-size: 18px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    display: none;
    border-radius: 5px;
}
main{
    position: absolute;
    margin-bottom: 0;
    margin-top: 20vh;
    max-height: 180vh;
    padding:5px 1vw 5vw 5vw;
    width: 98vw;
    z-index: 0;
    background-color: #383a59;
}
.main-wrapper{
    display: inline-block;
    padding: 2%;
    margin-left: 4%;
    line-height: 22px;
    width: 52vw;
    height: fit-content;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.2em;
}
.featuredhomepage{
    margin-right: 0px;
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    width: 40vw;
    align-items: center;
    justify-content: center;
}
.featuredhomepage img{
    width: 25vw;
    padding-right: 0px;
    justify-content: space-around;
    transition: ease-in .5s;
}
.featuredhomepage img:hover{
    width: 28vw;
}
footer{
    text-align: center;
    background-color: #282a36;
    color: white;
    padding: 50px;
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
@media screen and (max-width:680px) {
    body {
        overflow-x: hidden;
        min-height: 190vh;
    }
    main{
        margin-top: 16vh;
        width: 100vw;
        padding-left: 2vw;
        padding-right: 2vw;
        position: absolute;
    }
    .main-wrapper{
        width: 85vw;
    }
    nav {
        justify-content: center;
        z-index: 1;
    }
    .nav-a {
        position: absolute;
        left: 0px;
        height: 92vh;
        width: 70vw;
        top: 8vh;
        color: white;
        background-color: #282a36;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(-100%);
        transition: 0.5s;
    }
    .nav-a li {
        color: white;
        opacity: 0;
    }
    .burger {
        position: absolute;
        left: 15px;
        cursor: pointer;
    }
    .burger div {
        display: block;
        cursor: pointer;
    }
    .top-header {
        font-size: 18px;
    }
    .top-header a:hover {
        font-size: 20px;
    }
    .featuredhomepage{
        display: flex;
        width: 98vw;
    }
    .featuredhomepage img{
        display: flex;
        width: 40vw;
    }
    .featuredhomepage img:hover{
        width: 42vw;
    }
}

@media screen and (max-width:300px) {
    .top-header{
        display: none;
    }
}

@keyframes navLinksAnimation {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.active-nav {
    transform: translateX(0%);
}
